resources/stamps.com/swsimv10.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Stamps.com Web Services for Individual Meters (SWS/IM) Version 10</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetURL">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
            </s:choice>
            <s:element minOccurs="1" maxOccurs="1" name="URLType" type="tns:UrlType" />
            <s:element minOccurs="1" maxOccurs="1" name="ApplicationContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Credentials">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IntegrationID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Username" type="tns:string-0-40" />
          <s:element minOccurs="1" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UrlType">
        <s:restriction base="s:string">
          <s:enumeration value="HomePage" />
          <s:enumeration value="AccountSettingsPage" />
          <s:enumeration value="EditCostCodesPage" />
          <s:enumeration value="OnlineReportsPage" />
          <s:enumeration value="HelpPage" />
          <s:enumeration value="OnlineReportingHistory" />
          <s:enumeration value="OnlineReportingRefund" />
          <s:enumeration value="OnlineReportingPickup" />
          <s:enumeration value="OnlineReportingSCAN" />
          <s:enumeration value="OnlineReportingClaim" />
          <s:enumeration value="StoreChangePlan" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="URL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateIndicium">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
            </s:choice>
            <s:element minOccurs="1" maxOccurs="1" name="IntegratorTxID" type="tns:string-1-128" />
            <s:element minOccurs="0" maxOccurs="1" default="" name="TrackingNumber" type="tns:string-0-128" />
            <s:element minOccurs="1" maxOccurs="1" name="Rate" type="tns:RateV4" />
            <s:element minOccurs="1" maxOccurs="1" name="From" type="tns:Address" />
            <s:element minOccurs="1" maxOccurs="1" name="To" type="tns:Address" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="tns:string-1-64" />
            <s:element minOccurs="0" maxOccurs="1" name="Customs" type="tns:Customs" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="SampleOnly" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" default="Auto" name="ImageType" type="tns:ImageType" />
            <s:element minOccurs="0" maxOccurs="1" default="Default" name="EltronPrinterDPIType" type="tns:EltronPrinterDPIType" />
            <s:element minOccurs="0" maxOccurs="1" default="" name="memo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" default="" name="recipient_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="deliveryNotification" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="shipmentNotificationCC" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="shipmentNotificationCCToMain" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="shipmentNotificationFromCompany" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="shipmentNotificationCompanyInSubject" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RateV4">
        <s:complexContent mixed="false">
          <s:extension base="tns:RateV3">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" default="false" name="CubicPricing" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RateV3">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FromZIPCode" type="tns:string-3-10" />
          <s:element minOccurs="0" maxOccurs="1" name="ToZIPCode" type="tns:string-3-10" />
          <s:element minOccurs="0" maxOccurs="1" name="ToCountry" type="tns:string-2-2" />
          <s:element minOccurs="0" maxOccurs="1" default="0.0" name="Amount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" default="Unknown" name="ServiceType" type="tns:ServiceType" />
          <s:element minOccurs="0" maxOccurs="1" name="PrintLayout" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliverDays" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="WeightLb" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="WeightOz" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" default="Unknown" name="PackageType" type="tns:PackageTypeV2" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="Length" type="tns:double-le-999" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="Width" type="tns:double-le-999" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="Height" type="tns:double-le-999" />
          <s:element minOccurs="1" maxOccurs="1" name="ShipDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" default="0.0" name="InsuredValue" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" default="0.0" name="RegisteredValue" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" default="0.0" name="CODValue" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" default="0.0" name="DeclaredValue" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="NonMachinable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="true" name="RectangularShaped" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Prohibitions" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Restrictions" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Observations" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Regulations" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GEMNotes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaxDimensions" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DimWeighting" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddOns" type="tns:ArrayOfAddOn" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="EffectiveWeightInOunces" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsIntraBMC" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="Zone" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="RateCategory" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" default="" name="ToState" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ServiceType">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="US-FC" />
          <s:enumeration value="US-PM" />
          <s:enumeration value="US-XM" />
          <s:enumeration value="US-PP" />
          <s:enumeration value="US-MM" />
          <s:enumeration value="US-BP" />
          <s:enumeration value="US-EMI" />
          <s:enumeration value="US-PMI" />
          <s:enumeration value="US-FCI" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PackageTypeV2">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Postcard" />
          <s:enumeration value="Letter" />
          <s:enumeration value="Large Envelope or Flat" />
          <s:enumeration value="Thick Envelope" />
          <s:enumeration value="Package" />
          <s:enumeration value="Flat Rate Box" />
          <s:enumeration value="Small Flat Rate Box" />
          <s:enumeration value="Large Flat Rate Box" />
          <s:enumeration value="Flat Rate Envelope" />
          <s:enumeration value="Large Package" />
          <s:enumeration value="Oversized Package" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAddOn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AddOn" nillable="true" type="tns:AddOn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddOn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" default="0.0" name="Amount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AddOnType" type="tns:AddOnType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AddOnType">
        <s:restriction base="s:string">
          <s:enumeration value="US-A-INS" />
          <s:enumeration value="US-A-COD" />
          <s:enumeration value="US-A-DC" />
          <s:enumeration value="US-A-SC" />
          <s:enumeration value="US-A-COM" />
          <s:enumeration value="US-A-CM" />
          <s:enumeration value="US-A-RR" />
          <s:enumeration value="US-A-RRM" />
          <s:enumeration value="US-A-REG" />
          <s:enumeration value="US-A-RD" />
          <s:enumeration value="US-A-SH" />
          <s:enumeration value="SC-A-INS" />
          <s:enumeration value="SC-A-INSRM" />
          <s:enumeration value="SC-A-HP" />
          <s:enumeration value="US-A-WDS" />
          <s:enumeration value="US-A-NDW" />
          <s:enumeration value="US-A-ESH" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NamePrefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameSuffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="tns:string-0-50" />
          <s:element minOccurs="1" maxOccurs="1" name="Address1" type="tns:string-1-50" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="tns:string-0-50" />
          <s:element minOccurs="0" maxOccurs="1" name="Address3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="City" type="tns:string-1-50" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="tns:string-0-2" />
          <s:element minOccurs="0" maxOccurs="1" name="ZIPCode" type="tns:string-0-5" />
          <s:element minOccurs="0" maxOccurs="1" name="ZIPCodeAddOn" type="tns:string-0-4" />
          <s:element minOccurs="0" maxOccurs="1" name="DPB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckDigit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="US" name="Country" type="tns:string-2-2" />
          <s:element minOccurs="0" maxOccurs="1" name="Urbanization" type="tns:string-0-28" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CleanseHash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OverrideHash" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customs">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ContentType" type="tns:ContentType" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="tns:string-0-76" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseNumber" type="tns:string-0-6" />
          <s:element minOccurs="0" maxOccurs="1" name="CertificateNumber" type="tns:string-0-8" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="tns:string-0-10" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherDescribe" type="tns:string-0-20" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomsLines" type="tns:ArrayOfCustomsLine" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ContentType">
        <s:restriction base="s:string">
          <s:enumeration value="Commercial Sample" />
          <s:enumeration value="Gift" />
          <s:enumeration value="Document" />
          <s:enumeration value="Returned Goods" />
          <s:enumeration value="Other" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfCustomsLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomsLine" nillable="true" type="tns:CustomsLine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomsLine">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Description" type="tns:string-1-60" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="WeightLb" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" default="0" name="WeightOz" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="HSTariffNumber" type="tns:string-0-6" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryOfOrigin" type="tns:string-2-2" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ImageType">
        <s:restriction base="s:string">
          <s:enumeration value="Zpl" />
          <s:enumeration value="EncryptedPngUrl" />
          <s:enumeration value="PrintOncePdf" />
          <s:enumeration value="Jpg" />
          <s:enumeration value="Epl" />
          <s:enumeration value="Pdf" />
          <s:enumeration value="Gif" />
          <s:enumeration value="Png" />
          <s:enumeration value="Auto" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="EltronPrinterDPIType">
        <s:restriction base="s:string">
          <s:enumeration value="Default" />
          <s:enumeration value="High" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateIndiciumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IntegratorTxID" type="tns:string-1-128" />
            <s:element minOccurs="0" maxOccurs="1" default="" name="TrackingNumber" type="tns:string-0-128" />
            <s:element minOccurs="1" maxOccurs="1" name="Rate" type="tns:RateV4" />
            <s:element minOccurs="1" maxOccurs="1" name="StampsTxID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="URL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PostageBalance" type="tns:PostageBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PostageBalance">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AvailablePostage" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ControlTotal" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateUnfundedIndicium">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
            </s:choice>
            <s:element minOccurs="1" maxOccurs="1" name="IntegratorTxID" type="tns:string-1-128" />
            <s:element minOccurs="0" maxOccurs="1" default="" name="TrackingNumber" type="tns:string-0-128" />
            <s:element minOccurs="1" maxOccurs="1" name="Rate" type="tns:RateV4" />
            <s:element minOccurs="1" maxOccurs="1" name="From" type="tns:Address" />
            <s:element minOccurs="1" maxOccurs="1" name="To" type="tns:Address" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="tns:string-1-64" />
            <s:element minOccurs="0" maxOccurs="1" name="Customs" type="tns:Customs" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="SampleOnly" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" default="Auto" name="ImageType" type="tns:ImageType" />
            <s:element minOccurs="0" maxOccurs="1" default="Default" name="EltronPrinterDPIType" type="tns:EltronPrinterDPIType" />
            <s:element minOccurs="0" maxOccurs="1" default="" name="memo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" default="" name="recipient_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="deliveryNotification" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="shipmentNotificationCC" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="shipmentNotificationCCToMain" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="shipmentNotificationFromCompany" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" default="false" name="shipmentNotificationCompanyInSubject" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUnfundedIndiciumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IntegratorTxID" type="tns:string-1-128" />
            <s:element minOccurs="0" maxOccurs="1" default="" name="TrackingNumber" type="tns:string-0-128" />
            <s:element minOccurs="1" maxOccurs="1" name="Rate" type="tns:RateV4" />
            <s:element minOccurs="1" maxOccurs="1" name="StampsTxID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="URL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PostageBalance" type="tns:PostageBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelIndicium">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
            </s:choice>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="1" maxOccurs="1" name="StampsTxID" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
            </s:choice>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelIndiciumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTestIndicium">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
            </s:choice>
            <s:element minOccurs="1" maxOccurs="1" name="Rate" type="tns:RateV4" />
            <s:element minOccurs="1" maxOccurs="1" name="From" type="tns:Address" />
            <s:element minOccurs="1" maxOccurs="1" name="To" type="tns:Address" />
            <s:element minOccurs="0" maxOccurs="1" name="Customs" type="tns:Customs" />
            <s:element minOccurs="0" maxOccurs="1" default="Auto" name="ImageType" type="tns:ImageType" />
            <s:element minOccurs="0" maxOccurs="1" default="Default" name="EltronPrinterDPIType" type="tns:EltronPrinterDPIType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTestIndiciumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Rate" type="tns:RateV4" />
            <s:element minOccurs="1" maxOccurs="1" name="URL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateScanForm">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
            </s:choice>
            <s:element minOccurs="1" maxOccurs="1" name="StampsTxIDs" type="tns:ArrayOfGuid" />
            <s:element minOccurs="1" maxOccurs="1" name="FromAddress" type="tns:from_address_v1" />
            <s:element minOccurs="1" maxOccurs="1" name="ImageType" type="tns:ImageType" />
            <s:element minOccurs="1" maxOccurs="1" name="PrintInstructions" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="from_address_v1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="title_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dept_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="company_" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_1_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_2_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="urbanization_" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="city_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zip_code_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zip_code_add_on_" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone_number_" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateScanFormResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ScanFormId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartPasswordReset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Username" type="tns:string-0-40" />
            <s:element minOccurs="1" maxOccurs="1" name="Codeword1" type="tns:string-0-40" />
            <s:element minOccurs="1" maxOccurs="1" name="Codeword2" type="tns:string-0-40" />
            <s:element minOccurs="0" maxOccurs="1" name="IntegrationId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartPasswordResetResponse">
        <s:complexType />
      </s:element>
      <s:element name="FinishPasswordReset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Username" type="tns:string-1-40" />
            <s:element minOccurs="1" maxOccurs="1" name="TempPassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NewPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IntegrationId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinishPasswordResetResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCodewordQuestions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Username" type="tns:string-0-40" />
            <s:element minOccurs="0" maxOccurs="1" name="IntegrationId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCodewordQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Codeword1Question" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Codeword2Question" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRates">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
            </s:choice>
            <s:element minOccurs="1" maxOccurs="1" name="Rate" type="tns:RateV4" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Rates" type="tns:ArrayOfRateV4" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRateV4">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Rate" nillable="true" type="tns:RateV4" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IntegrationID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="UserName" type="tns:string-0-40" />
            <s:element minOccurs="1" maxOccurs="1" name="Password" type="tns:string-6-20" />
            <s:element minOccurs="1" maxOccurs="1" name="Codeword1Type" type="tns:CodewordType" />
            <s:element minOccurs="1" maxOccurs="1" name="Codeword1" type="tns:string-2-2147483647" />
            <s:element minOccurs="1" maxOccurs="1" name="Codeword2Type" type="tns:CodewordType" />
            <s:element minOccurs="1" maxOccurs="1" name="Codeword2" type="tns:string-2-2147483647" />
            <s:element minOccurs="1" maxOccurs="1" name="PhysicalAddress" type="tns:Address" />
            <s:element minOccurs="0" maxOccurs="1" name="MailingAddress" type="tns:Address" />
            <s:element minOccurs="1" maxOccurs="1" name="MachineInfo" type="tns:MachineInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="Email" type="tns:string-0-41" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountType" type="tns:AccountType" />
            <s:element minOccurs="0" maxOccurs="1" name="PromoCode" type="tns:string-0-50" />
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="CreditCard" type="tns:CreditCard" />
              <s:element minOccurs="0" maxOccurs="1" name="AchAccount" type="tns:AchAccount" />
            </s:choice>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CodewordType">
        <s:restriction base="s:string">
          <s:enumeration value="MothersMaidenName" />
          <s:enumeration value="PetsName" />
          <s:enumeration value="BirthCity" />
          <s:enumeration value="Last4SocialSecurityNumber" />
          <s:enumeration value="Last4DriversLicense" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="MachineInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IPAddress" type="tns:string-0-15" />
          <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="tns:string-0-12" />
          <s:element minOccurs="0" maxOccurs="1" name="FP" type="tns:FP" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FP1" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="FP2" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="FP3" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="FP4" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="FP5" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AccountType">
        <s:restriction base="s:string">
          <s:enumeration value="Individual" />
          <s:enumeration value="HomeOffice" />
          <s:enumeration value="HomeBasedBusiness" />
          <s:enumeration value="OfficeBasedBusiness" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="CreditCard">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CreditCardType" type="tns:CreditCardType" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CVN" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="tns:Address" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CreditCardType">
        <s:restriction base="s:string">
          <s:enumeration value="Visa" />
          <s:enumeration value="MasterCard" />
          <s:enumeration value="AmericanExpress" />
          <s:enumeration value="Discover" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="AchAccount">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AchAccountType" type="tns:AchAccountType" />
          <s:element minOccurs="0" maxOccurs="1" name="BankName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RouteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountHolderName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AchAccountType">
        <s:restriction base="s:string">
          <s:enumeration value="Checking" />
          <s:enumeration value="Savings" />
        </s:restriction>
      </s:simpleType>
      <s:element name="RegisterAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrationStatus" type="tns:RegistrationStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="SuggestedUserName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PromoUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="RegistrationStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Fail" />
        </s:restriction>
      </s:simpleType>
      <s:element name="VoidUnfundedIndicium">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
            </s:choice>
            <s:element minOccurs="1" maxOccurs="1" name="StampsTxID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VoidUnfundedIndiciumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FundUnfundedIndicium">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
            </s:choice>
            <s:element minOccurs="1" maxOccurs="1" name="StampsTxID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FundUnfundedIndiciumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Credentials" type="tns:Credentials" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountInfo">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
            </s:choice>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountInfo" type="tns:AccountInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MeterNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PostageBalance" type="tns:PostageBalance" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxPostageBalance" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LPOCity" type="tns:string-0-29" />
          <s:element minOccurs="1" maxOccurs="1" name="LPOState" type="tns:string-0-3" />
          <s:element minOccurs="1" maxOccurs="1" name="LPOZip" type="tns:string-0-6" />
          <s:element minOccurs="1" maxOccurs="1" name="Capabilities" type="tns:CapabilitiesV2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CapabilitiesV2">
        <s:complexContent mixed="false">
          <s:extension base="tns:Capabilities">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="AllowAllMailClasses" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Capabilities">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CanPrintShipping" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanUseCostCodes" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanUseHiddenPostage" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanPurchaseSDCInsurance" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanPrintMemoOnShippingLabel" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanPrintInternational" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanPurchasePostage" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanEditCostCodes" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MustUseCostCodes" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanViewOnlineReports" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PerPrintLimit" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="CleanseAddress">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
            </s:choice>
            <s:element minOccurs="1" maxOccurs="1" name="Address" type="tns:Address" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CleanseAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Address" type="tns:Address" />
            <s:element minOccurs="1" maxOccurs="1" name="AddressMatch" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="CityStateZipOK" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchasePostage">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
            </s:choice>
            <s:element minOccurs="1" maxOccurs="1" name="PurchaseAmount" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="ControlTotal" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PurchasePostageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PurchaseStatus" type="tns:PurchaseStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PostageBalance" type="tns:PostageBalance" />
            <s:element minOccurs="1" maxOccurs="1" name="RejectionReason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="PurchaseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Pending" />
          <s:enumeration value="Processing" />
          <s:enumeration value="Success" />
          <s:enumeration value="Rejected" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetPurchaseStatus">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
            </s:choice>
            <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPurchaseStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PurchaseStatus" type="tns:PurchaseStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="PostageBalance" type="tns:PostageBalance" />
            <s:element minOccurs="1" maxOccurs="1" name="RejectionReason" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackShipment">
        <s:complexType>
          <s:sequence>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="0" maxOccurs="1" name="Authenticator" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Credentials" type="tns:Credentials" />
            </s:choice>
            <s:choice minOccurs="1" maxOccurs="1">
              <s:element minOccurs="1" maxOccurs="1" name="StampsTxID" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string" />
            </s:choice>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackShipmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Authenticator" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TrackingEvents" type="tns:ArrayOfTrackingEvent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTrackingEvent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TrackingEvent" nillable="true" type="tns:TrackingEvent" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TrackingEvent">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Timestamp" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Event" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TrackingEventType" type="tns:TrackingEventType" />
          <s:element minOccurs="1" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SignedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AuthorizedAgent" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TrackingEventType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="ManifestAcknowledgement" />
          <s:enumeration value="ElectronicNotification" />
          <s:enumeration value="Delivered" />
          <s:enumeration value="AttemptedNoticeLeft" />
          <s:enumeration value="AcceptOrPickup" />
          <s:enumeration value="Refused" />
          <s:enumeration value="Undeliverable" />
          <s:enumeration value="Forwarded" />
          <s:enumeration value="ArrivalAtUnit" />
          <s:enumeration value="Missent" />
          <s:enumeration value="ReturnToSender" />
          <s:enumeration value="Enroute" />
          <s:enumeration value="DeadLetter" />
          <s:enumeration value="ArrivalAtPickupPoint" />
          <s:enumeration value="NoSuchNumber" />
          <s:enumeration value="InsufficientAddress" />
          <s:enumeration value="MovedNoForwarding" />
          <s:enumeration value="ForwardingExpired" />
          <s:enumeration value="AddresseeUnknown" />
          <s:enumeration value="Vacant" />
          <s:enumeration value="Unclaimed" />
          <s:enumeration value="Deceased" />
          <s:enumeration value="ReturnedOtherReason" />
          <s:enumeration value="PickedUpByShippingPartner" />
          <s:enumeration value="ArrivedAtShippingPartner" />
          <s:enumeration value="DepartedFromShippingPartner" />
          <s:enumeration value="UnrecognizedEvent" />
          <s:enumeration value="ErrorDateNotAvailable" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-29">
        <s:restriction base="s:string">
          <s:maxLength value="29" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-3">
        <s:restriction base="s:string">
          <s:maxLength value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-6">
        <s:restriction base="s:string">
          <s:maxLength value="6" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-1-128">
        <s:restriction base="s:string">
          <s:minLength value="1" />
          <s:maxLength value="128" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-128">
        <s:restriction base="s:string">
          <s:maxLength value="128" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-3-10">
        <s:restriction base="s:string">
          <s:minLength value="3" />
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-2-2">
        <s:restriction base="s:string">
          <s:minLength value="2" />
          <s:maxLength value="2" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="double-le-999">
        <s:restriction base="s:double">
          <s:maxInclusive value="999" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-50">
        <s:restriction base="s:string">
          <s:maxLength value="50" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-1-50">
        <s:restriction base="s:string">
          <s:minLength value="1" />
          <s:maxLength value="50" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-2">
        <s:restriction base="s:string">
          <s:maxLength value="2" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-5">
        <s:restriction base="s:string">
          <s:maxLength value="5" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-4">
        <s:restriction base="s:string">
          <s:maxLength value="4" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-28">
        <s:restriction base="s:string">
          <s:maxLength value="28" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-1-64">
        <s:restriction base="s:string">
          <s:minLength value="1" />
          <s:maxLength value="64" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-76">
        <s:restriction base="s:string">
          <s:maxLength value="76" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-8">
        <s:restriction base="s:string">
          <s:maxLength value="8" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-10">
        <s:restriction base="s:string">
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-20">
        <s:restriction base="s:string">
          <s:maxLength value="20" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-1-60">
        <s:restriction base="s:string">
          <s:minLength value="1" />
          <s:maxLength value="60" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-40">
        <s:restriction base="s:string">
          <s:maxLength value="40" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-1-40">
        <s:restriction base="s:string">
          <s:minLength value="1" />
          <s:maxLength value="40" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-6-20">
        <s:restriction base="s:string">
          <s:minLength value="6" />
          <s:maxLength value="20" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-2-2147483647">
        <s:restriction base="s:string">
          <s:minLength value="2" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-15">
        <s:restriction base="s:string">
          <s:maxLength value="15" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-12">
        <s:restriction base="s:string">
          <s:maxLength value="12" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string-0-41">
        <s:restriction base="s:string">
          <s:maxLength value="41" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetURL" />
  </wsdl:message>
  <wsdl:message name="GetURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetURLResponse" />
  </wsdl:message>
  <wsdl:message name="CreateIndiciumSoapIn">
    <wsdl:part name="parameters" element="tns:CreateIndicium" />
  </wsdl:message>
  <wsdl:message name="CreateIndiciumSoapOut">
    <wsdl:part name="parameters" element="tns:CreateIndiciumResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUnfundedIndiciumSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUnfundedIndicium" />
  </wsdl:message>
  <wsdl:message name="CreateUnfundedIndiciumSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUnfundedIndiciumResponse" />
  </wsdl:message>
  <wsdl:message name="CancelIndiciumSoapIn">
    <wsdl:part name="parameters" element="tns:CancelIndicium" />
  </wsdl:message>
  <wsdl:message name="CancelIndiciumSoapOut">
    <wsdl:part name="parameters" element="tns:CancelIndiciumResponse" />
  </wsdl:message>
  <wsdl:message name="CreateTestIndiciumSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTestIndicium" />
  </wsdl:message>
  <wsdl:message name="CreateTestIndiciumSoapOut">
    <wsdl:part name="parameters" element="tns:CreateTestIndiciumResponse" />
  </wsdl:message>
  <wsdl:message name="CreateScanFormSoapIn">
    <wsdl:part name="parameters" element="tns:CreateScanForm" />
  </wsdl:message>
  <wsdl:message name="CreateScanFormSoapOut">
    <wsdl:part name="parameters" element="tns:CreateScanFormResponse" />
  </wsdl:message>
  <wsdl:message name="StartPasswordResetSoapIn">
    <wsdl:part name="parameters" element="tns:StartPasswordReset" />
  </wsdl:message>
  <wsdl:message name="StartPasswordResetSoapOut">
    <wsdl:part name="parameters" element="tns:StartPasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="FinishPasswordResetSoapIn">
    <wsdl:part name="parameters" element="tns:FinishPasswordReset" />
  </wsdl:message>
  <wsdl:message name="FinishPasswordResetSoapOut">
    <wsdl:part name="parameters" element="tns:FinishPasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="GetCodewordQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCodewordQuestions" />
  </wsdl:message>
  <wsdl:message name="GetCodewordQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCodewordQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRates" />
  </wsdl:message>
  <wsdl:message name="GetRatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRatesResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterAccountSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterAccount" />
  </wsdl:message>
  <wsdl:message name="RegisterAccountSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterAccountResponse" />
  </wsdl:message>
  <wsdl:message name="VoidUnfundedIndiciumSoapIn">
    <wsdl:part name="parameters" element="tns:VoidUnfundedIndicium" />
  </wsdl:message>
  <wsdl:message name="VoidUnfundedIndiciumSoapOut">
    <wsdl:part name="parameters" element="tns:VoidUnfundedIndiciumResponse" />
  </wsdl:message>
  <wsdl:message name="FundUnfundedIndiciumSoapIn">
    <wsdl:part name="parameters" element="tns:FundUnfundedIndicium" />
  </wsdl:message>
  <wsdl:message name="FundUnfundedIndiciumSoapOut">
    <wsdl:part name="parameters" element="tns:FundUnfundedIndiciumResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountInfo" />
  </wsdl:message>
  <wsdl:message name="GetAccountInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CleanseAddressSoapIn">
    <wsdl:part name="parameters" element="tns:CleanseAddress" />
  </wsdl:message>
  <wsdl:message name="CleanseAddressSoapOut">
    <wsdl:part name="parameters" element="tns:CleanseAddressResponse" />
  </wsdl:message>
  <wsdl:message name="PurchasePostageSoapIn">
    <wsdl:part name="parameters" element="tns:PurchasePostage" />
  </wsdl:message>
  <wsdl:message name="PurchasePostageSoapOut">
    <wsdl:part name="parameters" element="tns:PurchasePostageResponse" />
  </wsdl:message>
  <wsdl:message name="GetPurchaseStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetPurchaseStatus" />
  </wsdl:message>
  <wsdl:message name="GetPurchaseStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetPurchaseStatusResponse" />
  </wsdl:message>
  <wsdl:message name="TrackShipmentSoapIn">
    <wsdl:part name="parameters" element="tns:TrackShipment" />
  </wsdl:message>
  <wsdl:message name="TrackShipmentSoapOut">
    <wsdl:part name="parameters" element="tns:TrackShipmentResponse" />
  </wsdl:message>
  <wsdl:portType name="SwsimV10Soap">
    <wsdl:operation name="GetURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get URL to Stamps.com web page.</wsdl:documentation>
      <wsdl:input message="tns:GetURLSoapIn" />
      <wsdl:output message="tns:GetURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateIndicium">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate an Indicium.</wsdl:documentation>
      <wsdl:input message="tns:CreateIndiciumSoapIn" />
      <wsdl:output message="tns:CreateIndiciumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUnfundedIndicium">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate an unfunded indicium.</wsdl:documentation>
      <wsdl:input message="tns:CreateUnfundedIndiciumSoapIn" />
      <wsdl:output message="tns:CreateUnfundedIndiciumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelIndicium">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancel a previously issued indicium.</wsdl:documentation>
      <wsdl:input message="tns:CancelIndiciumSoapIn" />
      <wsdl:output message="tns:CancelIndiciumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateTestIndicium">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create a zero value test label</wsdl:documentation>
      <wsdl:input message="tns:CreateTestIndiciumSoapIn" />
      <wsdl:output message="tns:CreateTestIndiciumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateScanForm">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create a SCAN form.</wsdl:documentation>
      <wsdl:input message="tns:CreateScanFormSoapIn" />
      <wsdl:output message="tns:CreateScanFormSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartPasswordReset">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Start a password reset by sending a temporary password to the e-mail address on file.</wsdl:documentation>
      <wsdl:input message="tns:StartPasswordResetSoapIn" />
      <wsdl:output message="tns:StartPasswordResetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FinishPasswordReset">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Finish a password reset, setting the permanent password to a new password.</wsdl:documentation>
      <wsdl:input message="tns:FinishPasswordResetSoapIn" />
      <wsdl:output message="tns:FinishPasswordResetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCodewordQuestions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve codeword questions for user for starting password reset.</wsdl:documentation>
      <wsdl:input message="tns:GetCodewordQuestionsSoapIn" />
      <wsdl:output message="tns:GetCodewordQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRates">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a rate or a list of rates depending on input.</wsdl:documentation>
      <wsdl:input message="tns:GetRatesSoapIn" />
      <wsdl:output message="tns:GetRatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Register new Stamps.com account.</wsdl:documentation>
      <wsdl:input message="tns:RegisterAccountSoapIn" />
      <wsdl:output message="tns:RegisterAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VoidUnfundedIndicium">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Void an unfunded indicium.</wsdl:documentation>
      <wsdl:input message="tns:VoidUnfundedIndiciumSoapIn" />
      <wsdl:output message="tns:VoidUnfundedIndiciumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FundUnfundedIndicium">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Fund an unfunded indicium.</wsdl:documentation>
      <wsdl:input message="tns:FundUnfundedIndiciumSoapIn" />
      <wsdl:output message="tns:FundUnfundedIndiciumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Initial authentication.</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get account information, including postage balance.</wsdl:documentation>
      <wsdl:input message="tns:GetAccountInfoSoapIn" />
      <wsdl:output message="tns:GetAccountInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CleanseAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cleanse an Address.</wsdl:documentation>
      <wsdl:input message="tns:CleanseAddressSoapIn" />
      <wsdl:output message="tns:CleanseAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PurchasePostage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Purchase additional postage.</wsdl:documentation>
      <wsdl:input message="tns:PurchasePostageSoapIn" />
      <wsdl:output message="tns:PurchasePostageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get status of postage purchase.</wsdl:documentation>
      <wsdl:input message="tns:GetPurchaseStatusSoapIn" />
      <wsdl:output message="tns:GetPurchaseStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TrackShipment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get tracking events for shipment.</wsdl:documentation>
      <wsdl:input message="tns:TrackShipmentSoapIn" />
      <wsdl:output message="tns:TrackShipmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SwsimV10Soap" type="tns:SwsimV10Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetURL">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/GetURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIndicium">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CreateIndicium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUnfundedIndicium">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CreateUnfundedIndicium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelIndicium">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CancelIndicium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTestIndicium">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CreateTestIndicium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateScanForm">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CreateScanForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartPasswordReset">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/StartPasswordReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishPasswordReset">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/FinishPasswordReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodewordQuestions">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/GetCodewordQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRates">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/GetRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAccount">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/RegisterAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidUnfundedIndicium">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/VoidUnfundedIndicium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FundUnfundedIndicium">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/FundUnfundedIndicium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanseAddress">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CleanseAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchasePostage">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/PurchasePostage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseStatus">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/GetPurchaseStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackShipment">
      <soap:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/TrackShipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SwsimV10Soap12" type="tns:SwsimV10Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetURL">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/GetURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIndicium">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CreateIndicium" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUnfundedIndicium">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CreateUnfundedIndicium" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelIndicium">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CancelIndicium" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTestIndicium">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CreateTestIndicium" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateScanForm">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CreateScanForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartPasswordReset">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/StartPasswordReset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishPasswordReset">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/FinishPasswordReset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodewordQuestions">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/GetCodewordQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRates">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/GetRates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterAccount">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/RegisterAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoidUnfundedIndicium">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/VoidUnfundedIndicium" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FundUnfundedIndicium">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/FundUnfundedIndicium" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanseAddress">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/CleanseAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurchasePostage">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/PurchasePostage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseStatus">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/GetPurchaseStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackShipment">
      <soap12:operation soapAction="http://stamps.com/xml/namespace/2010/09/swsim/swsimv10/TrackShipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SwsimV10">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Stamps.com Web Services for Individual Meters (SWS/IM) Version 10</wsdl:documentation>
    <wsdl:port name="SwsimV10Soap" binding="tns:SwsimV10Soap">
      <soap:address location="https://swsim.testing.stamps.com/swsim/swsimv10.asmx" />
    </wsdl:port>
    <wsdl:port name="SwsimV10Soap12" binding="tns:SwsimV10Soap12">
      <soap12:address location="https://swsim.testing.stamps.com/swsim/swsimv10.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
